Repository jakubrylko/detox-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint, yarn type:check

Update android workflow
  .github/workflows/e2e-android2.yaml
Due: none

Update android workflow
  .github/workflows/e2e-android.yaml
  .github/workflows/e2e-android2.yaml
Due: none

Update android workflow (#9)
  .detoxrc
  .detoxrc.js
  .github/workflows/e2e-android.yaml
  .github/workflows/e2e-ios.yaml
  e2e/helpers/dates.ts
  e2e/test-data/members.ts
  e2e/tests/members.test.ts
Due: yarn format, yarn lint, yarn type:check

Update android workflow
  .github/workflows/e2e-android.yaml
Due: none

Update detox config
  .detoxrc
  .detoxrc.js
Due: yarn format, yarn lint

Update android workflow (#10)
  .detoxrc
  .detoxrc.js
  .github/workflows/e2e-android.yaml
Due: yarn format, yarn lint

Add KVM step
  .github/workflows/e2e-android.yaml
Due: none

Organize steps
  .github/workflows/e2e-android.yaml
  .github/workflows/e2e-ios.yaml
Due: none

Organize steps
  .github/workflows/e2e-android.yaml
Due: none

Add profile info
  .github/workflows/e2e-android.yaml
Due: none

Change gradle step name
  .github/workflows/e2e-android.yaml
Due: none

Remove gradle step
  .github/workflows/e2e-android.yaml
Due: none

Reorder steps
  .github/workflows/e2e-android.yaml
Due: none

Add run-name
  .github/workflows/e2e-android.yaml
Due: none

Clean up project
  .github/workflows/e2e-android.yaml
Due: none

Add KVM step (#11)
  .github/workflows/e2e-android.yaml
  .github/workflows/e2e-ios.yaml
Due: none

Change cache step order
  .github/workflows/e2e-android.yaml
Due: none

Fix select year for Android
  e2e/components/Picker/Picker.screen.ts
Due: yarn format, yarn lint, yarn type:check

Change cache step order (#12)
  .github/workflows/e2e-android.yaml
  e2e/components/Picker/Picker.screen.ts
Due: yarn format, yarn lint, yarn type:check

Add documentation
  .github/workflows/e2e-android.yaml
  .github/workflows/e2e-ios.yaml
  README.md
  package.json
Due: none

Update README
  README.md
Due: none

Add documentation (#13)
  .github/workflows/e2e-android.yaml
  .github/workflows/e2e-ios.yaml
  README.md
  package.json
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  yarn format: any of: *.{js,mjs,ts}
  yarn lint: any of: *.{js,mjs,ts}
  yarn type:check: any of: *.ts
