Repository jakubrylko/detox-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint, yarn type:check

.lintstagedrc:

{
  "*.{js,mjs,ts}": ["yarn format", "yarn lint"],
  "*.ts": ["yarn type:check"]
}

Update android workflow
  .github/workflows/android.yaml
Due: none

Update workflow
  .github/workflows/android.yaml
Due: none

Add release builds
  .detoxrc.js
  .github/workflows/android.yaml
  package.json
Due: yarn format, yarn lint

Update workflow
  .detoxrc.js
  .github/workflows/android.yaml
Due: yarn format, yarn lint

Update workflow
  .github/workflows/android.yaml
  package.json
Due: none

Add iOS workflow
  .github/workflows/android.yaml
  .github/workflows/ios.yaml
Due: none

Add iOS workflow
  .github/workflows/ios.yaml
Due: none

Fix gemfile
  Gemfile
Due: none

Update workflows
  .detoxrc.js
  .github/workflows/android.yaml
  .github/workflows/ios.yaml
  jest.config.js
Due: yarn format, yarn lint

Add Android workflow (#7)
  .detoxrc.js
  .github/workflows/android.yaml
  .github/workflows/ios.yaml
  Gemfile
  e2e/helpers/api.ts
  e2e/helpers/index.ts
  e2e/tests/api.test.ts
  e2e/types/api.d.ts
  jest.config.js
  package.json
  src/components/memberComponents/MemberForm.js
  src/context/MemberContext.js
  yarn.lock
Due: yarn format, yarn lint, yarn type:check

Fix dependencies
  .ruby-version
  Gemfile
  Gemfile.lock
  ios/pqaa_detox.xcodeproj/project.pbxproj
  yarn.lock
Due: none

Update iOS workflow
  .github/workflows/ios.yaml
Due: none

Add retries
  eslint.config.mjs
  jest.config.js
  jest.setup.js
Due: yarn format, yarn lint

Add artifacts step
  .github/workflows/android.yaml
  .github/workflows/ios.yaml
  .gitignore
Due: none

Update iOS workflow
  .github/workflows/android.yaml
  .github/workflows/ios.yaml
  jest.config.js
Due: yarn format, yarn lint

Update launchApp
  .github/workflows/ios.yaml
  e2e/helpers/launchApp.ts
  e2e/helpers/typeText.ts
  e2e/tests/members.test.ts
Due: yarn format, yarn lint, yarn type:check

Fix members tests
  .github/workflows/android.yaml
  e2e/helpers/typeText.ts
  e2e/screens/Members/Members.screen.ts
  e2e/screens/Members/Members.selectors.ts
Due: yarn format, yarn lint, yarn type:check

Fix members tests
  e2e/tests/members.test.ts
Due: yarn format, yarn lint, yarn type:check

Fix members tests
  .github/workflows/ios.yaml
  e2e/tests/members.test.ts
Due: yarn format, yarn lint, yarn type:check

Fix members tests
  .github/workflows/e2e-android.yaml
  .github/workflows/e2e-ios.yaml
  e2e/helpers/typeText.ts
  e2e/tests/members.test.ts
Due: yarn format, yarn lint, yarn type:check
