Repository jakubrylko/detox-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint, yarn type:check

Fix members tests
  e2e/helpers/typeText.ts
  e2e/tests/members.test.ts
Due: yarn format, yarn lint, yarn type:check

Fix members tests
  e2e/helpers/typeText.ts
  e2e/screens/Members/Members.screen.ts
  e2e/screens/Members/Members.selectors.ts
  e2e/tests/members.test.ts
Due: yarn format, yarn lint, yarn type:check

Fix members tests
  e2e/tests/members.test.ts
  src/screens/HomeScreen.js
Due: yarn format, yarn lint, yarn type:check

Fix members tests
  e2e/tests/members.test.ts
Due: yarn format, yarn lint, yarn type:check

Fix members tests
  .github/workflows/e2e-ios.yaml
  e2e/tests/members.test.ts
Due: yarn format, yarn lint, yarn type:check

Fix members tests
  .github/workflows/e2e-ios.yaml
  e2e/screens/Members/Members.selectors.ts
  src/components/memberComponents/MemberFields.js
  src/components/memberComponents/MemberFormInputFields.js
Due: yarn format, yarn lint, yarn type:check

Fix members tests
  .github/workflows/e2e-ios.yaml
  e2e/helpers/index.ts
  e2e/helpers/inputText.ts
  e2e/helpers/typeText.ts
  e2e/screens/Members/Members.wrapper.ts
  e2e/screens/Members/index.ts
  e2e/tests/members.test.ts
Due: yarn format, yarn lint, yarn type:check

Fix members tests
  e2e/screens/Members/Members.selectors.ts
  e2e/tests/members.test.ts
Due: yarn format, yarn lint, yarn type:check

Fix members tests
  .github/workflows/e2e-ios.yaml
Due: none

Fix members tests
  e2e/screens/Members/Members.wrapper.ts
  e2e/tests/members.test.ts
Due: yarn format, yarn lint, yarn type:check

Fix members tests
  .github/workflows/e2e-ios.yaml
  src/screens/HomeScreen.js
Due: yarn format, yarn lint

Update utils
  src/utils/spaces.js
Due: yarn format, yarn lint

Update utils
  e2e/tests/members.test.ts
Due: yarn format, yarn lint, yarn type:check

Fix testIDs
  src/components/memberComponents/MemberFields.js
  src/components/memberComponents/MemberFormInputFields.js
Due: yarn format, yarn lint

Add .ruby-version
  .ruby-version
  Gemfile
  e2e/helpers/index.ts
  e2e/helpers/textInput.ts
Due: yarn format, yarn lint, yarn type:check

Fix dependencies (#8)
  .github/workflows/e2e-android.yaml
  .github/workflows/e2e-ios.yaml
  .gitignore
  .ruby-version
  Gemfile
  Gemfile.lock
  e2e/helpers/index.ts
  e2e/helpers/launchApp.ts
  e2e/helpers/textInput.ts
  e2e/helpers/typeText.ts
  e2e/screens/Members/Members.wrapper.ts
  e2e/screens/Members/index.ts
  e2e/tests/members.test.ts
  eslint.config.mjs
  ios/pqaa_detox.xcodeproj/project.pbxproj
  jest.config.js
  jest.setup.js
  src/utils/spaces.js
  yarn.lock
Due: yarn format, yarn lint, yarn type:check

Update android workflow
  .github/workflows/e2e-android.yaml
  e2e/tests/members.test.ts
Due: yarn format, yarn lint, yarn type:check

Update android workflow
  .github/workflows/e2e-android.yaml
Due: none

Update android workflow
  .github/workflows/e2e-android.yaml
  .github/workflows/e2e-ios.yaml
Due: none

Update android workflow
  e2e/helpers/dates.ts
  e2e/test-data/members.ts
Due: yarn format, yarn lint, yarn type:check

Update android workflow
  .github/workflows/e2e-android2.yaml
Due: none

Update android workflow
  .github/workflows/e2e-android.yaml
  .github/workflows/e2e-android2.yaml
Due: none

Update android workflow
  .detoxrc
  .detoxrc.js
  .github/workflows/e2e-android2.yaml
Due: yarn format, yarn lint

Path conditions:
  yarn format: any of: *.{js,mjs,ts}
  yarn lint: any of: *.{js,mjs,ts}
  yarn type:check: any of: *.ts
